@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
}
body{
    background: rgb(255, 255, 255);
}
.navbar
{
    height: 10%;
    width: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content:flex-start;
    z-index: 10;
    align-items: center;
}
.sidemenu
{
height: 100vh;
position: fixed;
top: 0;
width: 4%;
background-color:rgb(0, 0, 0);
font-family: 'Poppins', sans-serif;
transition: all .5s ease-in-out; 
}
.menulist
{
    margin: 100px 0;
}
.sidemenu a{
    text-decoration: none;
    color: #fff;
    
}
.sidemenu li
{
    list-style: none;
    text-align: center;
    padding: 20px;
    transform-origin: left;  
    border: none;
    transition: color 0.2s;
}
.active 
{
    position: relative;
    background: rgb(255, 255, 255);
    color: rgb(255, 68, 0);
    font-weight: 700;
    font-size: 1.2em;
    
}
.sactive
{
    width: 10%; 
    transition: all .5s ease-in-out; 
}
.sidemenu .active::after
{
    content: '';
    position: absolute;
    height: 10px;
    width: 100%;
    background: rgb(0, 0, 0);
    outline: none;
    top: 0px;
    right: 0;
    border-radius: 0 0 20px 0 ;
    border: 0;
    outline: 0;
}
.sidemenu .active::before
{
    content: '';
    position: absolute;
    height: 10px;
    width: 100%;
    background: rgb(0, 0, 0);
    bottom: 0px;
    border-radius: 0 20px 0 0 ;
    right: 0;
    border: 0;
    outline: 0;
}
.icon
{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 10px;
}
.icon i
{
    margin: 0 15px;
    cursor: pointer;
}
.container
{
    width: 85%;
    float: right;
}
.list
{
    display: flex;
    align-items: center;
}
.list i
{
    margin: 0 20px 0 0;
}

@media screen and (max-width: 1250px) {
    .sidemenu {
        width: 125px !important;
    }
    .container {
        width: calc(100% - 155px);
    }
>>>>>>> 2a324cfd0dea86aaa0ca937dec3243b6a2719feb
}